<h1>{{title}}</h1>

<form [formGroup]="translationForm" (ngSubmit)="onSubmit()" validate>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>search word</mat-label>
            <input matInput type="text" formControlName="searchPhrase">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>source language</mat-label>
            <mat-select formControlName="selectedSourceLang" (selectionChange)="setTrgLangs()">
                <mat-option *ngFor="let sourceLanguage of srcLangs" [value]="sourceLanguage">
                    {{getLabel(sourceLanguage)}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="padright" appearance="fill">
            <mat-label>target language</mat-label>
            <mat-select formControlName="selectedTargetLang">
                <mat-option *ngFor="let targetLanguage of trgLangs" [value]="targetLanguage">
                    {{getLabel(targetLanguage)}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" [disabled]="!translationForm.valid">translate</button>
    </section>

</form>


<app-dictionaries></app-dictionaries>