<mat-form-field appearance="fill">
    <mat-select (selectionChange)="selectDict($event.value)" [(ngModel)]="selectedDict">
        <mat-option *ngFor="let dict of dictionaries" [value]="dict">
            {{dict.sourceLang.length > 0 ? dict.sourceLang + " to " + dict.targetLang: "Show All"}}
        </mat-option>
    </mat-select>
</mat-form-field>


<div class="flashcards">
    <li *ngFor="let flashcard of presentedFlashcards">
        <div class="card" [ngClass]="{'background_blue': flashcard.isHidden, 'background_red': !flashcard.isHidden}"
            (click)="onClick(flashcard)">
            <p class="dict">{{flashcard.isHidden ? flashcard.sourceLang :
                flashcard.targetLang}}</p>
            <div class="container">
                <p class="word">{{flashcard.isHidden ? flashcard.sourceWord : flashcard.targetWord}}</p>
            </div>
        </div>
    </li>
</div>